nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(255,90,52);
}

.nav-a {
    color: white;
}

a {
    text-decoration: none;

}

img {
    height: 200px;
}

body {
    margin: 0px;
    padding: 0px;
}
main {
    padding: 16px;
}

h1 {
    color: rgb(1, 111, 1);
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.plain {
    color: green;
}

tr:nth-child(2n) {
    background-color: lightgray;
}

footer {
    padding: 24px 20px;
    background-color:rgb(181,208,102);
}
